<template>

    <div class="modal modal-success fade" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg">

            <form class="modal-content" enctype="multipart/form-data" :action="actionUrl" method="POST">

                <input v-if="submitMethod == 'PUT'" type="hidden" name="_method" :value="submitMethod">

                <input type="hidden" name="_token" :value="csrf">
                <input name="_token" type="hidden" :value="csrf">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"><i class="voyager-plus"></i>{{ title }}</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome Completo" v-model="amigo.nome" :required="true">
                    </div>

                    <div class="form-group">
                        <label for="endereco">Endereco</label>
                        <input type="text" name="endereco" class="form-control" id="endereco" placeholder="Endereço" v-model="amigo.endereco" :required="true">
                    </div>

                    <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input type="tel" name="telefone" class="form-control" id="telefone" placeholder="Telefone" v-model="amigo.telefone" :required="true">
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="E-mail" v-model="amigo.email" :required="true">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-right install-confirm">Salvar</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>

</template>

<script>
    import * as axios from "axios";

    export default {
        data(){
            return {
                amigo : {},
                actionUrl : "",
                submitMethod : "",
                selectedType : "",
                title: "",
                csrf: "",
            };
        },

        mounted(){
            this.listenEvents();
            this.csrf = $('meta[name="csrf-token"]').attr('content')
        },

        methods: {
            listenEvents(){
                $('.openModal').on('click', (e) => {

                    let id = $(e.target).data('id');

                    this.actionUrl = $(e.target).data('action');
                    this.submitMethod = $(e.target).data('method');
                    this.title = $(e.target).data('title');

                    if(id){
                        this.getAmigo(id)
                    }
                    else{
                        this.cleanObject()
                    }

                });
            },
            getAmigo(id){
                let url = route('amigos.edit', id);

                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.amigo = result.data;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },

            cleanObject(){
                this.amigo = {};
            }
        }
    }
</script>
