<template>

    <div class="modal modal-success fade" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg">

            <form class="modal-content" :action="actionUrl" method="POST">

                <input v-if="submitMethod == 'PUT'" type="hidden" name="_method" :value="submitMethod">

                <input type="hidden" name="_token" :value="csrf">
                <input name="_token" type="hidden" :value="csrf">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"><i class="voyager-plus"></i>{{ title }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="titulo_id" >Titulo</label>
                        <select id="titulo_id" name="titulo_id" class="form-control" v-model="colecao.titulo_id" :required="true">
                            <option value="" disabled selected>Selecione um título</option>
                            <option v-for="(option,key) in titulos" :value="key">{{ option }}</option>
                        </select>
                    </div>

                    <div v-if="colecao.titulo_id != null " v-model="key = colecao.titulo_id">
                        <div class="form-group">
                            <label for="autor"> Autor </label>
                            <input type="text"  class="form-control" id="autor" placeholder="" v-model="autores[key]" :disabled="true">
                        </div>

                        <div class="form-group">
                            <label for="resumo"> Resumo </label>
                            <textarea rows="5" class="form-control" id="resumo" placeholder="" v-model="resumos[key]" :disabled="true">
                            </textarea>
                        </div>

                    </div>


                    <div class="form-group">
                        <label for="total_volumes">Total de Volumes Lançados</label>
                        <input type="number" name="total_volumes" class="form-control" id="total_volumes" placeholder="Total de Volumes" v-model="colecao.total_volumes" :required="true">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-right install-confirm">Salvar</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>

</template>

<script>
    import * as axios from "axios";

    export default {
        data(){
            return {
                colecao:{},
                titulos : {},
                autores: {},
                resumos: {},
                actionUrl : "",
                submitMethod : "",
                selectedType : "",
                title: "",
                csrf: "",
            };
        },

        mounted(){
            this.listenEvents();
            this.csrf = $('meta[name="csrf-token"]').attr('content')
        },

        methods: {
            listenEvents(){
                $('.openModal').on('click', (e) => {

                    let id = $(e.target).data('id');
                    this.actionUrl = $(e.target).data('action');
                    this.submitMethod = $(e.target).data('method');
                    this.title = $(e.target).data('title');

                    if(id){
                        this.getColecao(id);
                    }
                    else{
                        this.cleanObject()
                    }

                    this.getTitulosEAutores();

                });
            },
            getColecao(id){
                let url = route('colecoes.edit', id);

                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.colecao = result.data;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },
            getTitulosEAutores(){
                axios.get(route('titulos.index'))
                    .then((response) => {
                        this.titulos = response.data.titulos;
                        this.autores = response.data.autores;
                        this.resumos = response.data.resumos;
                    });
            },
            cleanObject(){
                this.colecao = {}
            }
        }
    }
</script>
