<template>

    <div class="modal modal-info fade" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg">

            <form class="modal-content" enctype="multipart/form-data" :action="actionUrl" method="POST">

                <input v-if="submitMethod == 'PUT'" type="hidden" name="_method" :value="submitMethod">

                <input type="hidden" name="_token" :value="csrf">
                <input name="_token" type="hidden" :value="csrf">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"><i class="voyager-plus"></i>{{ title }}</h4>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label for="amigo_id">Selecione seu Amigo</label>
                        <select id="amigo_id" name="amigo_id" class="form-control" v-model="emprestimo.amigo_id" :required="true">
                            <option value="" disabled selected>Selecione seu Amigo</option>
                            <option v-for="(option,key) in amigos" :value="key">{{ option }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="data_emprestimo">Data de Emrpéstimo</label>
                        <input type="date" name="data_emprestimo" class="form-control" id="data_emprestimo" placeholder="Data de Emrpéstim" v-model="emprestimo.data_emprestimo" :required="true">
                    </div>

                    <div class="form-group">
                        <label for="descricao"> Descricao </label>
                        <textarea rows="5" name="descricao" class="form-control" id="descricao" placeholder="" v-model="emprestimo.descricao" :required="true">
                        </textarea>
                    </div>


                    <div v-if="emprestimo.id == null">
                        <div class="form-group">
                            <label for="revistas">Revistas (Mangás e Manhwás)</label>

                            <select id="revistas" name="revistas[]" class="form-control select2" multiple="multiple" :required="true">
                                <option v-for="(option,key) in revistas" :value="key">{{ option }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="alert alert-info alert-dismissible fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <i class="voyager-info-circled">
                                <span>{{ ' Não é permitido alterações nas revistas após criar um empréstimo. Caso seja necessário, remova o registro com erro e crie um novo.' }}</span>
                            </i>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right install-confirm">Salvar</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>

</template>

<script>
    import * as axios from "axios";
    import image from "../../../../public/vendor/images/icon-no-image.png"

    export default {
        data(){
            return {
                disabled: false,
                emprestimo : {},
                revistas : {},
                amigos   : {},
                actionUrl : "",
                submitMethod : "",
                selectedType : "",
                title: "",
                csrf: "",
            };
        },

        mounted(){
            this.listenEvents();
            this.csrf = $('meta[name="csrf-token"]').attr('content')
        },

        methods: {
            listenEvents(){
                $('.openModal').on('click', (e) => {

                    let id = $(e.target).data('id');
                    this.actionUrl = $(e.target).data('action');
                    this.submitMethod = $(e.target).data('method');
                    this.title = $(e.target).data('title');

                    if(id){
                        this.getEmprestimo(id)
                    }
                    else{
                        this.cleanObject()
                    }

                    this.getAmigosERevistas();
                });
            },
            getEmprestimo(id){
                let url = route('emprestimos.edit', id);

                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.emprestimo = result.data;
                        this.disabled = true
                        this.revistas = {}
                    },
                    error => {
                        console.error(error);
                    }
                );
            },
            getAmigosERevistas(){
                axios.get(route('revistas.list', {disponivel: true}))
                    .then((response) => {
                        this.revistas = response.data;
                    });

                axios.get(route('amigos.list'))
                    .then((response) => {
                        this.amigos = response.data;
                    });
            },
            cleanObject(){
                this.emprestimo = {};
                this.disabled = false
                this.revistas = {}
            }
        }
    }
</script>
