<template>

    <div class="modal modal-success fade" tabindex="-1" id="formModal" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg">

            <form class="modal-content" enctype="multipart/form-data" :action="actionUrl" method="POST">

                <input v-if="submitMethod == 'PUT'" type="hidden" name="_method" :value="submitMethod">

                <input type="hidden" name="_token" :value="csrf">
                <input name="_token" type="hidden" :value="csrf">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"><i class="voyager-plus"></i>{{ title }}</h4>
                </div>
                <div class="modal-body">
                    <input name="colecao_id" type="hidden"  v-model="revista.colecao_id">

                    <div class="col-md-12">
                        <div class="panel panel">
                            <div class="panel-body">
                                <div class="form-group" align="center">
                                    <label for="imagem">Imagem de capa</label>
                                    <img :src="preview"
                                         style="width:200px; height:auto; clear:both; display:block; padding:2px; border:1px solid #ddd; margin-bottom:10px;" />
                                    <input type="file" id="imagem" ref="myFiles" name="imagem" class="custom-file-input"
                                           @change="previewFiles">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sub_titulo">Subtítulo</label>
                        <input type="text" name="sub_titulo" class="form-control" id="sub_titulo" placeholder="Subtítulo da Revista" v-model="revista.sub_titulo" :required="true">
                    </div>

                    <div class="form-group">
                        <label for="lancamento">Data de Lançamento</label>
                        <input type="date" name="lancamento" class="form-control" id="lancamento" placeholder="Data de lençamento" v-model="revista.lancamento" :required="true">
                    </div>

                    <div class="form-group">
                        <label for="numero_volume">Volume Nº</label>
                        <input type="number" name="numero_volume" class="form-control" id="numero_volume" placeholder="Volume Nº" v-model="revista.numero_volume" :required="true">
                    </div>

                    <div class="form-group">
                        <label for="editora">Editora</label>
                        <input type="text" name="editora" class="form-control" id="editora" placeholder="Editora" v-model="revista.editora" :required="true">
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo</label>

                        <select id="tipo" name="tipo" class="form-control" v-model="revista.tipo" :required="true">
                            <option value="" disabled selected>Selecione um tipo</option>
                            <option v-for="(option,key) in tipos" :value="key">{{ option }}</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-right install-confirm">Salvar</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>

</template>

<script>
    import * as axios from "axios";
    import image from "../../../../public/vendor/images/icon-no-image.png"

    export default {
        data(){
            return {
                preview : {},
                revista : {},
                tipos   : {},
                files   : {},
                actionUrl : "",
                submitMethod : "",
                selectedType : "",
                title: "",
                csrf: "",
            };
        },

        mounted(){
            this.listenEvents();
            this.csrf = $('meta[name="csrf-token"]').attr('content')
        },

        methods: {
            listenEvents(){
                $('.openModal').on('click', (e) => {

                    let id = $(e.target).data('id');
                    let colecao = $(e.target).data('colecao');
                    this.actionUrl = $(e.target).data('action');
                    this.submitMethod = $(e.target).data('method');
                    this.title = $(e.target).data('title');

                    if(id){
                        this.getRevista(id)
                    }
                    else{
                        this.cleanObject()
                    }

                    if(colecao){
                        this.revista.colecao_id = colecao;
                    }

                    this.getTipos();
                });
            },
            getRevista(id){
                let url = route('revistas.edit', id);

                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.revista = result.data;
                        this.preview = this.revista.imagem;
                    },
                    error => {
                        console.error(error);
                    }
                );
            },
            getTipos(){
                axios.get(route('revistas.tipos'))
                    .then((response) => {
                        this.tipos = response.data;
                    });
            },
            previewFiles() {
                this.files = this.$refs.myFiles.files
            },
            cleanObject(){
                this.revista = {};
                this.preview = image
            }
        }
    }
</script>
