<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="form-group box" align="center">
                        <div class="col-lg-10">
                            <input type="text" name="searchRevista" class="form-control" placeholder="Digite Sua Busca" v-model="searchRevista" v-on:input="search">
                        </div>
                        <label class="btn">
                            <i class="voyager-search"></i>
                        </label>
                    </div>


                        <div class="table-responsive">
                            <l-table class="table-hover table-striped"
                                     :columns="table.columns"
                                     :data="table.fields">
                            </l-table>
                        </div>

                </div>

            </div>

        </div>
    </div>
</template>
<script>
    import LTable from './TableComponent'

    import axios from "axios"

    const tableColumns = ['sub_titulo', 'Tipo', 'numero_volume', 'Imagem', 'Editora'];
    const tableData = [];

    export default {
        components: {
            LTable,
        },
        data () {
            return {
                table: {
                    columns: [...tableColumns],
                    fields: [...tableData]
                },
                searchRevista: ''
            }
        },

        mounted() {
            this.listenEvents();
        },
        methods: {
            listenEvents() {
                this.cleanObject()
            },
            search(){
                let url = route('revistas.list', {search: this.searchRevista});

                axios({
                    method: "GET",
                    url: url,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(
                    result => {
                        this.table.fields = result.data;

                        for(let i=0; i< this.table.fields.length; i++) {
                            this.table.fields[i].get = route('revistas.show', this.table.fields[i].id);

                            if(this.table.fields[i].vender && !this.table.fields[i].inList){
                                this.table.fields[i].post = route('lista.store',{revista_id: this.table.fields[i].id, ajax: true});
                            }
                        }
                    },
                    error => {
                        console.error(error);
                    }
                )
            },

            cleanObject(){
                this.searchRevista = ''
            }
        }
    }
</script>

