<template>
    <table class="table">
        <thead>
        <slot name="columns">
            <th v-for="column in columns">{{ beautify(column) }}</th>
            <th> Ações </th>

        </slot>
        </thead>
        <tbody>
        <tr v-for="item in data">
            <slot :row="item">
                <td v-for="column in columns" v-if="hasValue(item, column)">
                    <span v-html="itemValue(item, column)"></span>
                </td>
                <td>
                    <div class="md-table-cell-container">
                        <a v-if="item.get" v-bind:href="item.get" class="btn btn-success">
                            <i class="voyager-eye"></i>
                        </a>
                        <a v-if="item.post" @click="doPost(item.post)" class="btn btn-primary">
                            <i class="voyager-gift"></i>
                        </a>

                        <!--<a class="btn btn-default" @click="remove(item)">-->
                        <!--<i class="fa fa-times" style="color: red"></i>-->
                        <!--</a>-->
                    </div>
                </td>
            </slot>
        </tr>
        </tbody>
    </table>
</template>
<script>
    import axios from "axios";

    export default {
        name: 'l-table',
        props: {
            columns: Array,
            data: Array
        },
        data () {
            return {
            }
        },
        methods: {
            hasValue (item, column) {
                return item[column.toLowerCase()] !== 'undefined'
            },
            itemValue (item, column) {
                if(column.toLowerCase() === 'imagem'){
                    return '<img src="'+item[column.toLowerCase()]+'" alt="Miniatura" class="capa" style="width: 36px; height: 36px; border: 1px solid rgb(34,166,239);">';
                }
                if(column.toLowerCase() === 'avatar'){
                    if(item[column.toLowerCase()] !== null){
                        return '<img src="'+item[column.toLowerCase()]+'" class="avatar" style="width: 36px; height: 36px;border-radius:50%; background-size: auto 100%; border: 2px solid rgb(34,166,239);">';
                    }
                    return '<img class="avatar" style="width: 36px; height: 36px;border-radius:50%; background-size: auto 100%; border: 2px solid rgb(34,166,239); background-image:url(/vendor/images/user_default.png);">';
                }
                if(column.toLowerCase() === 'tipo'){
                    switch (item.tipo) {
                        case 1:
                            return 'Mangá'
                            break;
                        case 2:
                            return 'Manhwa'
                            break;
                    }
                }
                return item[column.toLowerCase()]
            },
            beautify (column) {
                if(column.toLowerCase() === 'sub_titulo'){
                    return 'Subtítulo'
                }
                if(column.toLowerCase() === 'numero_volume'){
                    return 'Volume'
                }
                if(column.toLowerCase() === 'name'){
                    return 'Nome'
                }

                return column
            },
            doPost: function (url) {
                $.ajaxSetup({
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                });
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: "JSON",
                    success: function (response)
                    {
                        swal({
                            title   : response.data.message,
                            text    : response.data.info,
                            type    : response.data.status,
                            timer   : 2000,
                            showConfirmButton: false
                        },setTimeout(function() {
                            window.location.href = response.data.redirect;
                        }, 2000))
                    },
                    error: function(xhr) {
                        console.log(xhr.responseText);
                        swal({
                            title   : "Occoreu um erro ao adicionar o item",
                            type    : "error",
                            timer   : 2000,
                            showConfirmButton: false
                        });
                    }
                });
            },

        }
    }
</script>
<style>
</style>
